{% extends 'base.html' %}

{% block content %}
<h1>{% block title %}Edit "{{ post['title'] }}"{% endblock %}</h1>

<div class="card text-white bg-secondary p-4">

  <form id="editPostForm" method="post" action="{{ post_to_edit.id }}/post/">
  {{ form.hidden_tag() }}
  
    <div class="flex-row-reverse d-flex"> <!-- _LABEL_:POST TITLE -->
      <label for="title">Title</label>
    </div>

    <div class="row mb-2"> <!-- [INPUT]:POST TITLE -->
      <input class="form-label form-control form-control-lg" type="text" name="title" placeholder="Post title" value="{{ form.title or post.title }}"></input>
    </div>

    <div class="flex-row-reverse d-flex"> <!-- _LABEL_:POST CONTENT -->
      <label for="content">Post Content</label>
    </div>
    <div class="row mb-2"> <!-- [INPUT]:POST CONTENT -->
      <textarea class="form-text form-control mb-2" name="content" placeholder="(Message)" rows="15">{{ form.content or post.text }}</textarea>
    </div>

  </form>

  <div class="flex-row-reverse d-flex"> <!-- >>BUTTONS<<:SUBMIT | CANCEL | DELETE -->

    <!-- >>DELETE<< => MODAL  -->
    <button type="button" class="btn btn-danger ms-2" data-bs-toggle="modal" data-bs-target="#deletePostModal"><i class="bi bi-trash"></i><span class="ms-1 d-none d-sm-inline">Delete Post</span></button>

    <!-- @MODAL@ -->
    <div class="modal fade" id="deletePostModal" tabindex="-1" aria-labelledby="deletePostLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content bg-dark text-light">

          <div class="modal-header text-center lead"> <!-- MODAL HEADER -->
            <h5 class="modal-title" id="deletePostLabel">Are you sure you want to delete this post?</h5>
          </div>

          <div class="modal-body"> <!-- MODAL BODY -->
            Clicking "Delete" will remove {{ post.title }}.
          </div>

          <div class="modal-footer"> <!-- MODAL FOOTER -->

            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="bi bi-x-circle"></i><span class="ms-1 d-none d-sm-inline">Cancel</span></button>

            <form id="deletePostForm" action="{{ url_for('delete', id=post.id) }}" method="POST">

              <button type="submit" class="btn btn-danger" form="deletePostForm" formmethod="post"><i class="bi bi-trash"></i><span class="ms-1 d-none d-sm-inline">Delete Post</span></button>

            </form>
          </div>

        </div>
      </div>
    </div> <!-- // @MODAL@:DELETE //  -->

    <!-- >>CANCEL<< -->
    <a href="{{ url_for('posts') }}">
      <button class="btn btn-dark ms-2" type="button"><i class="bi bi-x-circle"></i><span class="ms-1 d-none d-sm-inline">Cancel</span></button>
    </a>

    <!-- >>SUBMIT<< -->
    <button class="btn btn-primary ms-2" form="editPostForm" type="submit"><i class="bi bi-check-circle"></i><span class="ms-1 d-none d-sm-inline">Submit</span></button>

  </div>
</div>
{% endblock %}